<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="https://o.remove.bg/downloads/c80c0878-cd3f-4466-83c6-607b4c1a2e21/Capture-removebg-preview.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raater Hashi</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>

    <nav>
        <ul>
            <li>
                <span style="color:aquamarine; font-weight: normal;"><img src="https://cdn.discordapp.com/attachments/778294816190103642/981184729686609930/Capture-removebg-preview.png" alt=""> রাতের হাঁসি</span>
            </li>
        </ul>
    </nav>

    <div class="music-info">
        <img id="image_info" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQTbAveiG_iFFL-Fl4hsuEgK6V40fynhrjxg&usqp=CAU " alt="">
        <p><span class="song_name" id="song_name">Bhoot er golpo</span></p>
    </div>

    <div class="timeline">
        <input id="time" type="range" max="100" min="0">
    </div>

    <div class="button_container">

        <div class="play" id="play">Play</div>
        <div class="pause" id="stop">Pause</div>

    </div>

    <script src="../static/js/dist/script.js"></script>
</body>
</html>